.about-section {
  min-height: 70vh;
  display: flex;
  align-items: start;
  position: relative;
  background-image: url('../../../assets/img/line-about-us.svg');
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: 80%;
  z-index: 1;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  width: 90%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
}

.about-text {
  flex: 1;
  max-width: 900px;
  min-width: 500px;
}

.about-description {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-secondary-300);
  margin-bottom: 20px;
  text-align: justify;
}

.about-description:last-child {
  margin-bottom: 0;
}

.highlight {
  color: var(--color-primary);
  font-weight: 600;
}

.about-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-cake-image {
  width: 160%;
  height: auto;
  margin-bottom: 30px;
}

.about-logo-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #f0f0f0;
}


/* Responsive Design */
@media (max-width: 768px) {
  .about-section {
    padding: 40px 0;
  }
  

  .about-content {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  
  .about-text {
    max-width: 100%;
  }
  
  .about-description {
    text-align: center;
  }
  
  .about-cake-image {
    max-width: 300px;
  }
  
  .about-logo-image {
    width: 150px;
  }
  
  .about-line-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .about-line {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}