.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem;
  gap: 5%;
  width: fit-content; 
  margin: 0 auto ;
  margin-top: 30px;
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 700px;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.cake-image {
  max-width: 100%;
  height: auto;
  max-height: 800px;
}

@keyframes float{
	0%,100%{
		transform:translatey(-70)
	}
	50%{
		transform:translatey(-20px)
	}
}
.cake-image {
     animation: float 8s ease-in-out infinite;
}

.title{
  max-width: 500px;
}
.description {
  margin: 1.5rem 0 2rem;
  line-height: 1.6;
  color: var(--color-secondary-300);
  font-size: 1.1rem;
  text-align: left;
}

@media (max-width: 768px) {
  .container-home {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1.5rem;
  }
  
  .left-content, .right-content {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
  
  .cake-image {
    max-height: 350px;
  }
}