
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Kalnia:wdth,wght@100..125,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

.about-us-title-container {
  margin-top: 14rem;
  text-align: center;
  position: relative;
}

.about-us-title {
  font-size: var(--font-size-xl);
  font-weight: 500;
  flex-wrap: wrap;
  font-family: "Merriweather", serif;
  color: var(--color-secondary-100);
  margin: 0;
  letter-spacing: 1px;
}

.about-us-title-underline {
  width: 100px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 10px auto 0;
  border-radius: 2px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us-title-container {
    padding-top: 4rem;
  }
  
  .about-us-title {
    font-size: 2rem;
  }
  
  .about-us-title-underline {
    width: 80px;
    height: 3px;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .about-us-title {
    font-size: 1.5rem;
  }
  
  .about-us-title-underline {
    width: 60px;
  }
}
